{% extends 'course/base.html' %}
{% load static %}

{%block css%}
{%endblock%}

{%block title%}
{%endblock%}

{% block content %}

<div class="card text-center">
    <div class="card-header pt-5 pb-5">
      Buy This Course
    </div>
    <div class="card-body">
      <h5 class="card-title display-4 font-weight-bold">Adding {{course}} to My Courses!</h5>
      
      <form method='POST'>
        {% csrf_token %}
        <p class="card-text text-center display-6 pt-5 pb-5">Are you sure you want to buy {{course}}? </p>
        <input class="btn btn-primary text-center" type='submit' value='Yes'>
        </form>
    </div>
</div>
    
    {% if messages %}
    {% for message in messages %}
    <p alert alert-danger> {{message}} </p>
    {% endfor %}
    {% endif %}

{% endblock content %}

{%block js%}
{% endblock %}
