{% extends 'course/base.html' %}
{% load static %}

{%block css%}
{%endblock%}

{%block title%}
{%endblock%}

{% block content %}
<div class="container border border-primary rounded-3 mt-5 mb-5" style="width: 50%;">
    <h1 class='text-decoration-underline text-center text-primary'>Your Profile</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            
            <div class="input-group mb-3">
                <span class= 'input-group-text fs-5'>{{ field.label_tag }}</span>
                {{ field }}
                
            </div>
            {%if field.errors%}
            {% if field.help_text %}
            <p class="help text-danger fs-5 border border-danger rounded-3 p-3">{{ field.help_text|safe }}</p>
            {% endif %}
            {% for error in field.errors %}
            <p class="text-danger fs-5 border border-danger rounded-3 p-3">{{error}}</p>
            {% endfor %}
            {%endif%}
        </div>
{% endfor %}
<div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-outline-success fs-4 mb-3" value="Update">
    </div>

        </form>
        <div class="d-flex justify-content-center">
            <a class='btn btn-primary mb-3 fs-5' href={% url 'password_change' %}>Change Password</a>
        </div>
        </div>
{% endblock content %}

{%block js%}
{% endblock %}
