{% extends 'course/base.html' %}
{% load static %}

{%block css%}
{%endblock%}

{%block title%}
{%endblock%}

{% block content %}

{% if object_list %}
    {% for cart in object_list %}
    <div class="card border border-primary rounded mx-auto mt-5" style="width: 18rem;">
        <img src={{cart.course.thumbnail.url}} alt="Thumbnail" height=120px width=120px class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{cart.course.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{cart.course.sub_heading}}</h6>
          <p class="card-text">{{cart.course.description}}</p>
          <p class="card-text">Price: ₹{{cart.course.amount}}</p>
          <a class="card-link btn btn-primary" href={% url 'coursedetail' cart.course.slug %}>Show Course</a> 
        </div>
      </div>
    {% endfor %}
    {% else %}
    <p class="alert alert-danger">No courses in your wishlist</p>
    {% endif %}
    
{% endblock content %}

{%block js%} 
{% endblock %}
